* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


.logo h {
    color: white;
    font-size: 20px;
}

.nav {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C3333;

}

ul {
    margin: 0;
    padding: 0;

}

.menu_container {
    display: flex;

}

.menu_container li {
    margin: 0px 14px;
    list-style: none;
}

.menu_container li a {
    text-decoration: none;
    /* font-size: 19px; */
    text-transform: uppercase;
    font-weight: 400;
    color: cyan !important;
    cursor: pointer;

}

.open_menu {
    display: block;
}

.open_menu i{
    color: white;
    font-size: 26px;
}

.home_page {
    width: 100%;
    height: 100vh;
    background-color: #2C3333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_text {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}

.welcome_text h {
    color: white;
}

.welcome_text h:nth-child(1) {
    font-size: 22px;
    text-transform: capitalize;
}

.welcome_text h:nth-child(2) {
    font-size: 32px;
    font-weight: bold;
}

.welcome_text h:nth-child(3) {
    font-size: 22px;
    text-transform: capitalize;
}

.welcome_text p {
    color: white;
    margin-top: 12px;
    font-family: sans-serif;
}


.auto-type {
    color: cyan;
    text-shadow: 0px 0px 6px cyan;

}

.icon_con {
    display: flex;
    /* justify-content: left;
    align-items: center; */
}

.icon_con span {
    border: 1px solid cyan;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
    box-shadow: 0px 0px 10px cyan;

}


.icon_con span:hover {
    background-color: cyan;
}

.icon_con span:hover i {
    color: black;
}

.icon_con span i {
    padding: 5px;
    font-size: 16px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    color: cyan;
}

.btn {
    background-color: cyan;
    box-shadow: 0px 0px 15px cyan;
    width: 160px;
    margin-top: 25px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.btn:hover {

    background: black;
    color: cyan;
}

.img_container {
    width: 240px;
    height: 240px;
    border: 5px solid cyan;
    overflow: hidden;


    /* z-index: 9999; */
    /* background-image: url("../img/home.JPG"); */
    /* background-color: #6DB3F2!important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 65px; */
    animation: anim 0.9s linear;
    transform: rotate(45deg);
    box-shadow: 0px 0px 40px cyan;

}

.about_container {
    background-color: #383838;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .about_page{
    
} */


.about_img {

    height: 250px;
    width: 250px;
    border: 6px solid cyan;
    z-index: 9999;
    /* background-color: cyan; */
    transform: rotate(45deg);
    overflow: hidden;
    box-shadow: 0px 2px 25px cyan;

}

.about_img img {
    width: 100%;
    height: 100%;
    z-index: -9999;

}

.about_text {
    display: flex;
    flex-direction: column;
}

.about_text h {
    font-size: 35px;
    line-height: 1.1;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.about_text h:nth-child(2) {
    font-size: 20px;
    margin-top: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.about_text p {
    color: white;
    margin-top: 14px;
}

.heading h {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.cyan {
    color: cyan;
}

.services_container {
    background: #2C3333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_page {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.service_con {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid cyan;

}

.service_con:hover {
    /* background-color: cyan; */
    box-shadow: 0px 0px 26px cyan;
    ;
}


.service_con h,
p {
    color: white;
}

.service_con h {
    font-size: 22px;
    font-weight: bold;
}

.service_con i {
    font-size: 35px;
    color: cyan;
    padding: 10px 10px;
}


.potfoliO_page {
    background-color: #383838;
    height: 100%;
}

.potfoliO_page .pot_f {
    position: relative;
    /* overflow: hidden; */

    /* height: 200px; */
    /* width: 260px; */
}

.potfoliO_page .pot_f::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pot_f:hover {
    box-shadow: 0px 0px 16px cyan;
    border-color: none;
    transform: translate(1.2);
}



.contect_container form {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contect_container {
    background-color: black;
    height: 100%;
}


.contect_container form .input_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.contect_container form .input_box input {
    width: 100%;
    /* padding: 0.5rem; */
    font-size: 0.6rem;
    color: cyan;
    gap: 10px!important;
    height: 46px;
    background-color: #2C3333;
    margin: 9px 2px 5px 2px;
    /* margin: 5px auto; */
    /* margin: 5px 5px; */
    padding-left: 15px;
    font-size: 16px;
    border: none!important;
    outline: none;
}

.contect_container form .comment {
    width: 100%;
    padding-left: 12px;
    text-transform: uppercase;
    background-color: #2C3333;
}

.contect_container form .comment {
    /* margin: 0px; */
    height: 160px;
    margin-top: 16px;
}



























/* @keyframes anim{
    0%{
        transform: translatey(-10px);
    }
    100%{
        transform: translatey(5px);
    }
} */

/* .img_container img{
    width: 400px;
    height: 350px;
    transform: rotate(-45deg);
    margin-top: -25px;
} */